/* -------------------------------------------------------------------------- */
/*                                SharpSansNo1                                */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'SharpSansNo1';
  src: url('../assets/fonts/SharpSansNo1/SharpSansNo1-Ultrathin.ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SharpSansNo1';
  src: url('../assets/fonts/SharpSansNo1/SharpSansNo1-Thin.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SharpSansNo1';
  src: url('../assets/fonts/SharpSansNo1/SharpSansNo1-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SharpSansNo1';
  src: url('../assets/fonts/SharpSansNo1/SharpSansNo1-Book.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SharpSansNo1';
  src: url('../assets/fonts/SharpSansNo1/SharpSansNo1-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SharpSansNo1';
  src: url('../assets/fonts/SharpSansNo1/SharpSansNo1-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SharpSansNo1';
  src: url('../assets/fonts/SharpSansNo1/SharpSansNo1-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SharpSansNo1';
  src: url('../assets/fonts/SharpSansNo1/SharpSansNo1-Extrabold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SharpSansNo1';
  src: url('../assets/fonts/SharpSansNo1/SharpSansNo1-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
