:export {
  /* Neutral */
  --N000: #ffffff;
  --N100: #f5f5f5;
  --N300: #e5e5e5;
  --N400: #6d6e72;
  --N500: #c5c5c5;
  --N700: #555555;
  --N900: #353535;
  --N999: #000000;
  --black: #000000;

  /* SINGLIFE RED */
  --SL-R100: #ffe7e8;
  --SL-R300: #ff8b8e;
  --SL-R500: #ff454b;
  --SL-R700: #ff0008;
  --SL-R900: #d10007;

  /* Investa Blue */
  --INV-BLUE: #00bef9;
}
